.user-card {
  height: 200px;
  color: #fff;
  font-size: 1.5em;
  line-height: 1em;
}

.user-card img {
  width: 80px;
  height: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 80px;
  border: 8px solid rgba(255, 255, 255, 0.2);
}

.user-card a {
  color: #fff;
  font-size: 0.8em;
}
